<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide text-white text-center" *ngFor="let actor of cast">
            <img [src]="actor.profile_path | poster" [alt]="actor.name" class="img-thumbnail"> {{actor.name}}
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)="onSliderPrev()" class="swiper-button-prev"></div>
    <div (click)="onSliderNext()" class="swiper-button-next"></div>
</div>